/* font-family: "OpenSansRegular"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
  url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
  url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
  url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
  url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
  url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
  url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
  url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.container{
    width: 1055px;
    position: relative;
    //padding: 0;
}
body{
  line-height: normal;
  color: #000000;
  font-family: @os_s_b
}
.row{
    margin: 0;
}
a {
  outline: none!important;
}
a:hover {
  outline: none!important;
}
a:active {
  outline: none!important;
}

.bgr_white{
  background: #ffffff!important;
}
input{
  outline: none;
}
.bgr_width{
  position: relative;
  width: 100%;
  min-width: 1055px;
}


            /* ------------------------------Colors for my Website------------------------------ */
            
@color_black_light: #222222;
@color_white: #ffffff;
@color_orange: #f7941e;
@color_black_medium: #454545;

            /* ------------------------------Colors for my Website------------------------------ */


            /* ------------------------------Fonts for my Website------------------------------ */

@os_r: OpenSansRegular;
@os_b: OpenSansBold;
@os_e_b: OpenSansExtraBold;
@os_s_b: OpenSansSemiBold;
@os_l: OpenSansLight;

            /* ------------------------------Fonts for my Website------------------------------ */


            /* ------------------------------Main page start------------------------------ */
.h_800{

}
.header{
  width: 100%;
  min-width: 1055px;
  height: 120px;
  background: @color_white;
}
.header_box_top{
  height: 72px;
}
.header_box_bot{
  width: 100%;
  min-width: 1055px;
  height: 48px;
  background:@color_black_light;
}
.header_box_bot ul li{
  float: left;
  margin: 0px 0px;
}
.header_box_bot ul{
  list-style: none;
  float: right;
}
.header_box_bot ul li.li_menu a {
  font-family: @os_b;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  height: 48px;
  width: 136px;
  padding: 14px 0px;
  text-align: center;
  display: block;
  line-height: 19px;
  text-transform: uppercase;
  border-left: 1px solid #333333;
  border-right: 1px solid #000000;
}
.header_box_bot ul li.li_menu a:hover{
  background: #ffffff;
  color: #000000;
  font-family: OpenSansSemiBold;
  border-top: 3px solid #f7941e;
  border-radius: 4px 4px 0 0;
  padding: 11px 0;
  margin-top: -3px;
  height: 51px;
}
#main_menu {
  margin: 0;
}
.logo{
  position: absolute;
  left: 4px;
  bottom: -27px;
}
.header_contacts{
  float: right;
  margin: 15px 0 0 0;
}

.header_cart_text{
  font-family: @os_e_b;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 17px  0 0 0;
  text-transform: uppercase;
  float: right;
}
.header_cart_count,
.header_cart_count:focus{
  font-size: 14px;
  font-family: OpenSansExtraBold;
  color: #ffffff;
  padding: 2px 14px;
  margin: 16px 75px 0 26px;
  background: #f7941e;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  float: right;
  border-radius: 10px;
  text-decoration: none!important;
}
.box_info_product_left,
.box_info_product_right{
  //overflow-y: auto;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
.header_number{
  font-size: 24px;
  color: #000000;
  font-family: @os_b;
  line-height: 19px;
  float: right;
}
.header_email a{
  font-size: 15px;
  color: @color_orange;
  font-family: @os_r;
  line-height: 19px;
  float: right;
  margin-top: 4px;
  text-decoration: underline;
}
#main_menu .li_menu.active a {
  background: #ffffff;
  color: #000000;
  font-family: OpenSansSemiBold;
  border-top: 3px solid #f7941e;
  border-radius: 4px 4px 0 0;
  padding: 11px 0;
  margin-top: -3px;
  height: 51px;
}
.main_slider{
  height: 811px;
  /* overflow: hidden; */
  min-width: 1025px;
  position: relative;
  left: -150px;
}
.container_for_slider{
  /* width: 100%; */
  /* overflow: hidden; */
  margin: auto;
}
.new_slider_center{
  width: 100%;
  min-width: 1055px;
  margin: auto;
  /* text-align: center; */
  overflow: hidden;

}
.first_slider{
  /* position: absolute; */
  margin: 0 auto;
  /* right: 0; */
  /* left: 0; */
  width: 1306px;
}
.first_slider .slick-prev {
  background: url("/img/first_slider_arrow.png") no-repeat center;
  height: 79px;
  width: 79px;
  left: -100px;
}
.first_slider .slick-next {
  background: url("/img/first_slider_arrow.png") no-repeat center;
  height: 79px;
  width: 79px;
  right: -100px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
}
.slick-prev:before {
  content: '';
}
.slick-next:before {
  content: '';
}
.first_slider .slick-dots li button:before {
  font-family: 'slick';
  font-size: 26px;
  line-height: 0;
  padding-top: 8px;
  padding-left: 1px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 3px;
  width: 14px;
  height: 14px;
  content: '•';
  text-align: center;
  background: #000002;
  opacity: 1;
  color: #000002;
  border-radius: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.first_slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #f99526;
}
.first_slider .slick-dots {
  bottom: -8px;
  z-index: 1;
}
.first_slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  padding: 0;
  cursor: pointer;
}
.first_slider_dots_bgr{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 30px;
  z-index: -1;
}
.first_slider_dots_bgr_dop{
  margin: 0 auto;
  width: 0;
}
.dots_bgr_left{
  width: 28px;
  height: 30px;
  float: left;
  background: url('/img/first_slider_under_dots.png') 0 0;
}
.dots_bgr_middle{
  width: 0px;
  height: 30px;
  float: left;
  background: #F2EEEC;
}
.dots_bgr_right{
  width: 28px;
  height: 30px;
  float: left;
  background: url('/img/first_slider_under_dots.png') 28px 0;
}
.main_about_company{
  background: url("/img/main_bgr_about_company.png") repeat-x;
  width: 100%;
  height: 878px;
  position: relative;
  min-width: 1055px;
}
.main_about_company_aboutPage {
  background: url("/img/main_bgr_about_company.png") repeat-x;
  width: 100%;
  height: 700px;
  position: relative;
  min-width: 1025px;
}
.main_about_company_title{
  font-family: OpenSansBold;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin: -5px 0 13px 0px;
  display: inline-block;
}
.main_about_company_head{
  width: 586px;
  height: 140px;
  position: relative;
  margin: 0 auto;
  margin-top: 130px;
text-align: center;
}
.main_about_company_head_products{
  width: 836px;
  height: 140px;
  position: relative;
  margin: 0 auto;
  margin-top: 130px
}
.main_about_company_title_top_box_line{
  width: 394px;
  height: 20px;
  position: relative;
  /* height: 0px; */
  margin: 0 auto;
  /* margin-bottom: -5px; */
  text-align: center;
}
.main_about_company_title_top_line_left{
  width: 10px;
  height: 2px;
  background: url("/img/dot.png") repeat-x;
  position: relative;
  top: 10px;
  float: left;
}
.main_about_company_title_top_line_text{
  font-family: OpenSansLight;
  font-size: 16px;
  color: #7c7c7c;
  padding: 0 20px;
  display: inline-block;
  position: relative;
  float: left;
}
.main_about_company_title_bot_line{
  width: 100%;
  height: 2px;
  background: url("/img/dot.png") repeat-x;
}
.main_about_company_content{
  width: 817px;
  font-family: OpenSansRegular;
  font-size: 21px;
  line-height: 29px;
  color: #7c7c7c;
  text-align: center;
  margin: 0 auto;
  margin-top: 19px;
}
.main_about_company_tovar {
  margin: 31px 0 0px 327px;
  position: relative;
  display: block;
}
.h_800{
  height: 800px;
}
.margin_top_120{
  margin-top: 120px;
}
.random_tovar_box{
  width: 100%;
  height:450px;
  position: relative;
  margin: 50px 0 0 0;
}
.random_tovar{
  width: 341px;
  height: 423px;
  position: relative;
  float: left;
  text-align: center;
}
.random_tovar_img_left_right{
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  max-height: 400px;
}
.random_tovar_img_mid{
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
}
.random_tovar_text_box{
  width: 100%;
  position: absolute;
  bottom: 39px;
  height: 45px;
  text-align: center;
}
.random_tovar_text_top{
  font-family: @os_e_b;
  font-size: 20px;
  text-transform: uppercase;
}
.random_tovar_text_bot{
  font-family: @os_e_b;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffa53b;
}
.main_about_company_bgr{
  position: absolute;
  background: url("/img/about_bgr.jpg") center no-repeat;
  height: 345px;
  width: 100%;
  top: 1226px;
}
.all_products{
  width: 202px;
  height: 41px;
  background: url("/img/all_products.png") center no-repeat;
  margin: 0 auto;
  margin-top: -10px;
  display: block;
  position: relative;
}
.main_footer_bgr{
  position: absolute;
  background: url("/img/main_footer_bgr.jpg") center no-repeat;
  height: 700px;
  width: 100%;
  bottom: -100px;
  z-index: -1;
}
.main_footer_title_box{
  width: 722px;
  height: 140px;
  position: relative;
  margin: 0 auto;
  margin-top: 150px;
}
.manager{
  width: 172px;
  height: 176px;
  background: url("/img/manager.png");
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  left: 22px;
  margin-bottom: -20px;
}
.form_plz_left{
  height: 1px;
  background: #000000;
  width: 343px;
  float: left;
  margin-top: 10px;
}
.form_plz_mid{
  font-family: @os_l;
  font-size: 16px;
  margin: 0 10px;
  float: left;
}
.form_plz_right{
  height: 1px;
  background: #000000;
  width: 343px;
  float: left;
  margin-top: 10px;
}
.form_plz_box{
  width: 861px;
  height: 20px;
  margin: 0 auto;
  margin-top: 48px;
  position: relative;
}
.contact_form_box{
  width: 100%;
  height: 276px;
  position: relative;
}
.contact_form_box input {
  width: 499px;
  height: 35px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  font-size: 15px;
  color: #777b7f;
  padding-left: 15px;
  margin-top: 20px;
}
.contact_form_box input{

}
.form_zakaz_name{
  margin-top: 7px;
}
.form_zakaz_commit{
  width: 499px;
  position: absolute;
  right: 0;
  top: 18px;
}
.required_must{
  float: right;
  color: #f38118;
  font-size: 10px;
  margin: 18px 0 0 0;
  font-family: @os_r;
}
#ContactForm_commit{
  resize: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  font-size: 15px;
  color: #777b7f;
  padding-left: 15px;
  padding-top: 9px;
}
.button_zakaz{
  width: 162px!important;
  height: 41px!important;
  background: url("/img/but_otpr.png");
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  border: none!important;
}
.footer_box{
  width:100%;
  height: 60px;
  position: relative;
  margin-top: 44px;
}
.footer_box_top{
  width: 100%;
  height: 30px;
  bottom: -1px;
  position: relative;
}
.footer_box_bot{
  width: 100%;
  min-width: 1055px;
  height: 30px;
  background: #222222;
}
.footer_box ul{
  list-style: none;
  margin: 10px 0 0 -60px;
}
.footer_box li{
  float: left;
  color: #898989;
  padding: 0px 20px;
  border-left: 1px dotted #898989;
}
.footer_box li:first-child{
  border-left: none;
}
.left_menu a {
  color:#898989;
  margin: -2px 0 0 0;
  position: relative;
  display: block;
}
.left_menu a:hover {
  color:#ffa53a;
  text-decoration:none;
}
.left_menu a:active {
  color:#ffa53a;
  text-decoration: none;
}
.right_copyright{
  float: right;
  font-family: OpenSansRegular;
  color: #898989;
  font-size: 13px;
  top: -4px;
  position: relative;
}
.footer_social{
  margin: 0 auto;
  background: url("/img/bgr_soc.png");
  width:166px ;
  height: 30px;
}
.soc_vk{
  width: 30px;
  height: 30px;
  background: url("/img/vk.png");
  float: left;
  margin-left: 27px;
  margin-top: 6px;
}
.soc_facebook{
  width: 30px;
  height: 30px;
  background: url("/img/facebook.png");
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}
.soc_instagramm{
  width: 30px;
  height: 30px;
  background: url("/img/instagramm.png");
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}
.zvezda{
  position: absolute;
  left: 470px;
  bottom: 14px;
}
.form_zakaz_name{
  position: relative;
}
.form_zakaz_phone{
  position: relative;
}

.form_zakaz_commit textarea{
  margin: 2px -6px 0px 0px;
  height: 185px;
  width: 499px;
  resize: none;
}
            /* ------------------------------Main page end---------------------------------------- */
            
            
            /* ------------------------------Contacts page start---------------------------------------- */   
            
.contacts_about_company_head{
  width: 843px;
  height: 140px;
  position: relative;
  margin: 0 auto;
  margin-top: 95px
}

.contacts_about_company_title_bot_line{
    width: 412px;
    position: relative;
    height: 2px;
    margin: 0 auto;
    background: url("/img/dot.png") repeat-x;
}
.contacts_about_company{
  //background: url("/img/main_bgr_about_company.png") repeat-x;
  width: 100%;
  //height: 878px;
  position: relative;
  margin-bottom: 35px;
}
.contacts_about_company_title_top_line_text{
  font-family: OpenSansLight;
  font-size: 16px;
  color: #7c7c7c;
  padding: 0 20px;
  background: #fff;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.contacts_box{
    min-width: 420px;
    position: relative;
    margin: 0 auto;
    color: #968c8c;
    font-size: 13px;
    margin-top: 22px;
    margin-left: 152px;
}
.contacts_box span{
    color: black;
}
.contacts_box span2{
    color: black;
    font-family: OpenSansRegular;
    font-size: 21px;
}
.contacts_box span3 a{
    color: #ffa53b;
    font-family: OpenSansSemiBold;
    font-size: 16px;
   text-decoration: underline;
   line-height: 26px;
}
.ava{
  float: left;
  margin-right: 7px;
}
.contacts_status{
    text-transform: uppercase;
    font-family: OpenSansExtraBold;
    padding: 24px 0 0 0;
}
.contacts_name{
    font-size: 20px;
    //text-transform: uppercase;
    font-family: OpenSansExtraBold;
    padding:  19px 0 0 0;
}
.contacts_dop{
    font-family: OpenSansSemiBold;
    padding:  10px 0 0 0;
}
.contacts_phone{
    font-family: OpenSansSemiBold;
    padding:  2px  0 0 0;
}
.contacts_email{
    font-family: OpenSansSemiBold;
    padding:  3px 0 0 0;
}
.contacts_footer_bgr{
  position: absolute;
  background: url("/img/main_footer_bgr.jpg") center no-repeat;
  height: 1487px;
  width: 100%;
  bottom: -104px;
  z-index: -1;
}
            /* ------------------------------Contacts page end---------------------------------------- */ 
            
            
            /* ------------------------------Produts page end---------------------------------------- */ 
            
.products_slider_box{
height: 550px;
width: 100%;
position: relative;
}        
.products_title_box{
    position: relative;
    margin: 0 auto;
    //width: 878px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.products_left_line{
    height: 1px;
    width: 50px;
    margin-left: 74px;
    margin-right: 10px;
    margin-top: 34px;
    float: left;
    background: #000000;
}   
.products_right_line{
    height: 1px;
    width: 50px;
    margin-left: 10px;
    margin-top: 34px;
    float: left;
    background: #000000;
} 
.products_title{
    font-family: OpenSansBold;
    font-size: 50px;
    text-transform: uppercase;
    float: left;
}
.products_footer_bgr{
  position: absolute;
  background: url("/img/main_footer_bgr.jpg") center no-repeat;
  height: 1460px;
  width: 100%;
  bottom: -104px;
  z-index: -1;
}
.products_footer_bgr_2{
  position: absolute;
  background: url("/img/products_sloi.jpg") center no-repeat;
  height: 1672px;
  width: 100%;
  bottom: 1340px;
  z-index: -1;
}

            /* ------------------------------Produts page end---------------------------------------- */


            /* ------------------------------About page start---------------------------------------- */

#trailer {
  position: relative;
  /* top: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* min-width: 1025px; */
  /* min-height: 1025px; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* overflow: hidden; */
  z-index: 1;
  /* z-index: 0; */
  margin-top: 70px;
  margin-bottom: 0px;
}
#trailer > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
  #trailer > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #trailer > video { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  #trailer > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}




            /* ------------------------------About page end---------------------------------------- */


            /* ------------------------------To Order page start---------------------------------------- */

.order_about_company_head{
  width: 420px;
  height: 140px;
  position: relative;
  margin: 0 auto;
  margin-top: 95px;
}
a.order_name{
  color: #000000;
  display: block;
  text-decoration: none;
}

.order_bgr{
  position: fixed;;
  background: url("/img/order_bgr.jpg") center no-repeat;
  height: 1272px;
  width: 100%;
  bottom: -312px;
  z-index: -1;
}
.order_box_left{
  height: auto;
  width: 491px;
  float: left;
  margin-top: 54px;
}
.min_height_950{
  min-height: 950px;
}
.order_product_box{
  width: 491px;
  height: 193px;
  position: relative;
    background: white;
    border: 3px solid #fff;
}
.order_product_box:hover{
position: relative;
  border: 3px solid #f6aa4f;

}
.order_product_box_bot_line{
  position: absolute;
  width: 491px;
  bottom: -3px;
  left: -3px;
  height: 1px;
  background: #000000;
}
.order_img_mini_box{
  height: 140px;
  width: 145px;
  max-width: 145px;
  max-height: 140px;
  float: left;
  position: relative;
  padding-top: 20px;
  margin-right: 14px;
  text-align: center;
}
.order_img_mini{
  margin: 0 auto;
  max-width: inherit;
  max-height: inherit;
}
.order_taste{
  position: absolute;
  bottom: 17px;
  left: 7px;
}
.order_name{
  font-family: @os_e_b;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 27px 0 0 0;
}
.order_subname{
  font-family: @os_e_b;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 4px 0 0 0;
  color: #ffa53b;
}

.order_v{
  font-family: @os_s_b;
  font-size: 16px;
  line-height: 16px;
  margin: 26px 0 0 0;
  color: #968c8c;
}
.order_button_add{
  width: 162px;
  height: 41px;
  background: url("/img/order_button_add.png");
  position: absolute;
  bottom: 16px;
  right: 6px
}
.order_drop{

}

.order_product_count select{
  border-radius: 0;
  background: transparent;
  height: 39px;
  border: 0;
  font-size: 25px;
  font-family: OpenSansSemiBold;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 59px;
  outline: none;
    padding-left: 8px;
}
.order_product_count{
  overflow: hidden;
  height: 39px;
  background: url('/img/black_arow.png') no-repeat 82% 17px, #e7e0d9;
  width: 59px;
  position: absolute;
  right: 10px;
  top: 85px;
  display: inline-block;
  /* margin-top: 2px; */
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.order_box_right{
    width:494px;
    background: #f4efec;
    border-radius: 4px;
    float: right;
    margin-top: 54px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.order_box_right_title{
    font-size: 16px;
    font-family: OpenSansSemiBold;
    margin: 24px 0 16px 24px;
    text-transform: uppercase;
}
.order_product_name{
  font-family: OpenSansRegular;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}
.order_product_volume{
  font-family: OpenSansRegular;
  color: #898989;
  font-size: 13px;
  margin-bottom: -3px;
}
.order_product_taste{
  font-family: OpenSansRegular;
  color: #898989;
  font-size: 13px;
}
.order_product_taste span{
  text-transform: lowercase;
}
.order_product_dell{
  background: url("/img/order_del.png") 0 0;
  width: 17px;
  height: 17px;
  float: right;
  position: absolute;
  right: 37px;
  top: 22px;
}
.order_product_dell:hover, .order_product_dell:active {
  background-position: 0 -17px;
}

.order_box_product_box{
    height: 60px;
    width: 494px;
    position: relative;
}
.order_product_micro{
    max-height: 60px;
}
.img_micro_box{
  position: relative;
  width: 78px;
  height: 60px;
  text-align: center;
  float: left;
}
.order_product_count_right select{
  border-radius: 0;
  background: transparent;
  height: 39px;
  border: 0;
  font-size: 25px;
  font-family: OpenSansSemiBold;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 64px;
  outline: none;
  padding-left: 12px;
}
.order_product_count_right{
  overflow: hidden;
  height: 39px;
  background: url('/img/black_arow.png') no-repeat 82% 17px, #fff;
  width: 70px;
  position: absolute;
  right: 90px;
  top: 10px;
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.order_zakaz_name input, .order_zakaz_phone input,.order_zakaz_email input, .order_zakaz_face input{
  font-size: 15px;
  color: #777b7f;
  font-family: OpenSansRegular;
  height: 35px;
  width: 433px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin: 0px auto;
  margin-top: 20px;
  display: block;
  padding: 0px 0 0 27px;
}
.order_zakaz_commit textarea{
  resize: none;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  font-size: 15px;
  font-family: @os_r;
  color: #777b7f;
  padding-left: 27px;
  padding-top: 9px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 433px;
}
.order_checkbox_box{
  margin-left: 30px;
}
.button_order_zakaz{
  width: 162px!important;
  height: 41px!important;
  background: url("/img/but_otpr.png");
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 58px;
  left: 0;
  right: 0;
  bottom: 0;
  border: none!important;
}
.fixed {
  position: fixed;
  top: 0px;
  z-index: 0;
}
            /* ------------------------------To Order page end---------------------------------------- */


            /* ------------------------------Map page start---------------------------------------- */

.map_product_box{
  width: 100%;
  height: 806px;
  position: relative;
}
.map_product_bgr{
  background: url("/img/map_product_bgr.jpg")center no-repeat;
  width: 100%;
  min-width: 1055px;
  height: 536px;
  position: absolute;
  top:0;
  z-index: -2;
}
.map_product_image_box{
    position: relative;
    width: 449px;
    text-align: center;
    float: left;
    height: 642px;
}
.map_product_image{
  max-height: 642px;
  max-width: 449px;
  //z-index: -1;
  position: relative;
  margin-top: 52px;
}
.map_product_attributs{
  width: 534px;
  position: relative;
  float: right;
}
.map_product_title_head{
  width: 534px;
  position: relative;
  margin: 0 auto;
  margin-top: 52px
}
.map_category_text_title{
  font-family: OpenSansBold;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin: 3px 0 13px 0px;
  line-height: 1;
}
.map_product_promo{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-family: OpenSansExtraBold;
  color: #968c8c;
  text-transform: uppercase;
}
.map_product_eco_box{
  display: block;
  text-align: center;
  margin: 0 0 28px 0;
}
.map_product_info_box{
  color: #968c8c;
  font-family: @os_s_b;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
}
.map_product_info_box span{
  color: #f7941e;
}
.map_product_information_box{
  width: 800px;
  padding-top: 64px;
  margin: 0 auto;
  margin-left: -133px;
}
.orange_black_box{
  margin: 0 auto;
  position: relative;
}
.map_production_information_div{
  width: auto;
  height: 44px;
  border-left: 1px solid #968c8d;
  float: left;
}
.map_production_information_div:first-child{
  border-left: none;
}
.map_production_orange_num{
  display: block;
  width: auto;
  //width: 64px;
  line-height: 42px;
  text-align: left;
  position: relative;
  color: #f7941e;
  font-family: OpenSansBold;
  font-size: 60px;
  float: right;
  padding-left: 5px;
}
.map_production_black_num{
  display: block;
  float: right;
  font-family: @os_b;
  text-transform: uppercase;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding:0 6px;
}
.map_product_dropdown_box{
  width: 100%;
  height: 60px;
  margin: 0 0 0 0;
  float: left;
  position: relative;
  padding-left: 120px;
}
.map_product_taste select option{
  font-family: @os_r;
  font-size: 15px;
}
.map_product_v select option{
  font-family: @os_r;
  font-size: 15px;
}
.map_product_v select{
  border-radius: 0;
  background: transparent;
  height: 41px;
  border: 0;
  font-size: 17px;
  font-family: OpenSansBold;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 189px;
  outline: none;
  padding-left: 12px;
}
.map_product_v{
  overflow: hidden;
  height: 41px;
  background: url('/img/black_arow.png') no-repeat 95% 20px, #e7e0d9;
  width: 189px;
  position: relative;
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  float: left;
}

.map_product_taste select{
  border-radius: 0;
  background: transparent;
  height: 41px;
  border: 0;
  font-size: 17px;
  font-family: OpenSansBold;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 249px;
  outline: none;
  padding-left: 12px;
  color: #000000;
}
.map_product_taste{
  overflow: hidden;
  height: 41px;
  background: url('/img/black_arow.png') no-repeat 95% 20px, #e7e0d9;
  width: 249px;
  position: relative;
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-right: 20px;
  float: left;
}
.map_product_black_box{
  width: 296px;
  height: 62px;
  margin-left: 30px;
  position: relative;
  top: -11px;
  background: #000;
  float: left;
  border-radius: 10px;
}
.map_product_count select{
  border-radius: 0;
  background: transparent;
  height: 39px;
  border: 0;
  font-size: 25px;
  font-family: OpenSansSemiBold;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 59px;
  outline: none;
  padding-left: 8px;
  text-align: center;
}
.map_product_count{
  overflow: hidden;
  height: 39px;
  background: url('/img/black_arow.png') no-repeat 82% 17px, #e7e0d9;
  width: 59px;
  position:relative;
  display: inline-block;
  border: 1px solid #e8e8e8;
  margin: 11px 14px 0 11px;
  border-radius: 4px;
  float: left;
}
.add_zakaz{
  width: 202px;
  height: 41px;
  background: url("/img/add_zakaz.png");
  margin: 10px 10px 0 0;
  display: block;
  position: relative;
  float: right;
}
.map_product_taste_box{
  width: 100%;
  height: 33px;
  float: left;
  margin-top: 49px;
  text-align: center;
}
.map_product_taste_box img{
  margin-left: -1px;
  position: relative;
  display: inline-block;
}
.map_product_box_info_bgr{
  width: 100%;
  height: 525px;
  min-width: 1055px;
  background: #f4efed;
  padding-top: 70px;
}
.box_info_product_left{
  width: 350px;
  height: 393px;
  background: #fff;
  border-radius: 4px;
  float: left;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 0 0 26px;
}
.box_info_product_right{
  width: 646px;
  height: 393px;
  background: #fff;
  border-radius: 4px;
  float: right;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 0 0 26px;
}
.box_info_product_title{
  font-size: 16px;
  font-family: @os_s_b;
  text-transform: uppercase;
  padding-bottom: 48px;
  color: black;
}
.box_info_product_text{
  padding: 0px 24px 0 0;
  font-family: @os_r;
  font-size: 14px;
  line-height: 21px;
  color: #898989;
  position: relative;
  height: 291px;
  overflow-y: auto;
}
.map_product_contact_title_head{
  width: 722px;
  height: 140px;
  position: relative;
  margin: 0 auto;
  margin-top: 103px;
}
.map_product_footer_bgr{
  position: absolute;
  background: url("/img/main_footer_bgr.jpg") center no-repeat;
  height: 979px;
  width: 100%;
  bottom: -74px;
  z-index: -1;
}
            /* ------------------------------Map page end---------------------------------------- */


            /* ------------------------------Modal start---------------------------------------- */

.modal_title{
    font-family: OpenSansExtraBold;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.modal_ty{
    font-family: OpenSansExtraBold;
    font-size: 13px;
    text-transform: uppercase;
    color: #7c7c7c;
    text-align: center;
    margin-top: 20px;
}
.bgr_go_contact{
    width: 452px;
    height: 200px;
    background: url('/img/bgr_go_contact.png') center no-repeat;
    box-shadow: none;
    position: relative;
}
.bgr_go_order{
    width: 452px;
    height: 244px;
    background: url('/img/bgr_go_order.png') center no-repeat;
    box-shadow: none;
    position: relative;
}
.button_ok{
  width: 122px;
  height: 41px;
  background: url('/img/button_ok.png') center no-repeat;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-top: 30px;
}
.modal_close{
    background: url('/img/close_modal.png') center no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 10px;
    right: 17px;
}

.modal_wn_box{
    background: #1a1a1a;
    width: 273px;
    height: 112px;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
}
.next_buy{
    width: 252px;
    height: 41px;
    background: url('/img/button_go_buy.png') center no-repeat;
    margin: 0 auto;
    position: relative;
    display: block;
    margin: 0 0 0 10px;
}
.next_order{
    width: 252px;
    height: 41px;
    background: url('/img/button_go_order.png') center no-repeat;
    margin: 0 auto;
    position: relative;
    display: block;
    margin: 10px 0 0 10px;
}
            /* ------------------------------Modal end---------------------------------------- */

.grey_joy{
    background: #F4EFEC;
    border-color: #F4EFEC;
}
.form_checkbox_text{
    color: #FDA840;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
}
#ContactForm_subscribe{
      float: left;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  font-size: 10px;
}
.order_checkbox input#OrderForm_subscribe{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    font-size: 10px;
    margin-left: 30px;
}
.order_checkbox .form_checkbox_text{
    color: #FDA840;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 60px;
}


///////////////////////////////////////////// Input /////////////////////////////////////////////////

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width: 19px;
  height: 20px;
  margin: 0;
  top: 5px;
  position: relative;
  /* margin-top: -18px; */
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display: inline-block;
  margin-left: -23px;
  padding-left: 28px;
  background: url('/img/castom_checkbox.png') no-repeat 0 -20px;
  line-height: 20px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 0;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

///////////////////////////////////////////// Input /////////////////////////////////////////////////
.product-name{
  text-transform: uppercase;
}
.link_product{
  color: #000;
}
.link_product:hover{
  color: #000!important;
}




