.section-content {
    padding: 0;
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.large-arrow-btns {
    background: url(../images/buttons-sprite.png) no-repeat 0 -80px;
    width: 80px;
    height: 79px;
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    cursor: pointer;
    z-index: 999;
}

#next-member, #next-prod, #next-slide {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}
ul.home-products {
    padding: 0px !important;
}
.home-products li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products li a {
    text-align: center;
}
.home-products li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
span.product-name {
    font-size: 20px;
    color: #000;
    display: block;
    font-family: OpenSansExtraBold;
    line-height: 29px;
}
.product-name {
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}
.home-products li a {
    text-align: center;
}
.home-products li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.product-shrt-desc{
    color: #ffa53b;
    font-family: OpenSansExtraBold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
}
.item .last a:hover{
    text-decoration: none;
}
.home-products li a:hover{
    text-decoration: none;
}

.home-products1 li a:hover{
    text-decoration: none;
}
.home-products1 li a {
    text-align: center;
}
.home-products1 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products1 {
    padding: 0px !important;
}
.home-products1 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products1 li a {
    text-align: center;
}
.home-products1 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products1 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member1, #next-prod1, #next-slide1 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}


.home-products2 li a:hover{
    text-decoration: none;
}
.home-products2 li a {
    text-align: center;
}
.home-products2 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products2 {
    padding: 0px !important;
}
.home-products2 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products2 li a {
    text-align: center;
}
.home-products2 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products2 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member2, #next-prod2, #next-slide2 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}

.home-products3 li a:hover{
     text-decoration: none;
 }
.home-products3 li a {
    text-align: center;
}
.home-products3 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products3 {
    padding: 0px !important;
}
.home-products3 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products3 li a {
    text-align: center;
}
.home-products3 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products3 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member3, #next-prod3, #next-slide3 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}

.home-products4 li a:hover{
    text-decoration: none;
}
.home-products4 li a {
    text-align: center;
}
.home-products4 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products4 {
    padding: 0px !important;
}
.home-products4 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products4 li a {
    text-align: center;
}
.home-products4 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products4 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member4, #next-prod4, #next-slide4 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}

.home-products5 li a:hover{
    text-decoration: none;
}
.home-products5 li a {
    text-align: center;
}
.home-products5 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products5 {
    padding: 0px !important;
}
.home-products5 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products5 li a {
    text-align: center;
}
.home-products5 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products5 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member5, #next-prod5, #next-slide5 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}

.home-products6 li a:hover{
    text-decoration: none;
}
.home-products6 li a {
    text-align: center;
}
.home-products6 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products6 {
    padding: 0px !important;
}
.home-products6 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products6 li a {
    text-align: center;
}
.home-products6 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products6 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member6, #next-prod6, #next-slide6 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}

.home-products7 li a:hover{
    text-decoration: none;
}
.home-products7 li a {
    text-align: center;
}
.home-products7 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products7 {
    padding: 0px !important;
}
.home-products7 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products7 li a {
    text-align: center;
}
.home-products7 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products7 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member7, #next-prod7, #next-slide7 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}

.home-products8 li a:hover{
    text-decoration: none;
}
.home-products8 li a {
    text-align: center;
}
.home-products8 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products8 {
    padding: 0px !important;
}
.home-products8 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products8 li a {
    text-align: center;
}
.home-products8 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products8 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member8, #next-prod8, #next-slide8 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}

.home-products9 li a:hover{
    text-decoration: none;
}
.home-products9 li a {
    text-align: center;
}
.home-products9 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products9 {
    padding: 0px !important;
}
.home-products9 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products9 li a {
    text-align: center;
}
.home-products9 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products9 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member9, #next-prod9, #next-slide9 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}


.home-products10 li a:hover{
    text-decoration: none;
}
.home-products10 li a {
    text-align: center;
}
.home-products10 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
ul.home-products10 {
    padding: 0px !important;
}
.home-products10 li {
    float: left;
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    list-style-type: none;
}
.home-products10 li a {
    text-align: center;
}
.home-products10 li a img {
    min-height: 300px;
    width: 100% !important;
}
.home-products10 li a img, .block-related a img {
    display: block;
    max-width: 300px;
    min-height: 300px;
    height: auto !important;
    margin: 0 auto -50px;
}
#next-member10, #next-prod10, #next-slide10 {
    background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
    left: auto;
    right: 20px;
}