/*
 Theme Name: Alpine
 Theme URI: http://www.creative-ispiration.com/themes/alpine/
 Description: Responsive One Page HTML5/CSS3 Parallax Site Template
 Version: 1.0
 Author: Creative-Ispiration
 Author URI: http://themeforest.net/user/creativeispiration
 */

/* ##### GENERAL CLASS ##### */
*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.fa {
	color: #000;
}

address {
	margin: 0;
}

#footer-links {
	float: left;
	list-style-type: none;
}

#footer-links li {
    float: left;
    padding-top: 8px;
}

#footer-links li a {
    border-right: 1px dotted #898989;
    color: #898989;
    display: block;
    line-height: 1;
    padding: 0 26px;
}
#footer-links li a:hover {
	color: #FFA53A;
}

#footer-links li.first a {
	padding-left: 0px;
}
#footer-links li.last a {
	border: 0px none;
}

.cms-index-index .email-signup {
	position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 10px 0 0;
}

.email-signup {
    background: none repeat scroll 0 0 #222222;
    color: #FFA53A;
    display: block;
    float: right;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    margin-left: 18px;
    padding: 0 20px;
    text-transform: uppercase;
    z-index: 9999;
    transition: all 0.5s ease;
}
.email-signup:hover {
    background: none repeat scroll 0 0 #FFA53A;	
    color: #FFFFFF;
}
.email-signup i {
	color: #FFA53A;
	font-size: 15px;
	font-weight: bold;
	margin-right: 10px;
}

.email-signup:hover  i {
	color: #FFFFFF;
}

.wrapper,
.std {
	width: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 0 -80px !important;
	/* equal to footer height */
}

.wrapper:after {
  content: "";
  display: block;
}

body {
	color: #898989;
	line-height: 1.5em;
	overflow-x: hidden;
}
a {
	color: #FFA53A;
}
a:focus {
	outline: none;
	text-decoration: none;
	color: #222;
}
a:hover {
	text-decoration: none;
	color: #222;
}
iframe {
	border: 0;
}
p.lead {
	color: #7c7c7c;
}
.no-margin{ margin:0;}

h1, h2, h3, h4, h5, h6, .section-title, .form-group label {
	color: #222;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	margin-top: 10px;
}

.box-title h3 {
	color: #000000 !important;
    font-size: 16px !important;
    font-weight: 600;
    margin-top: 40px;
    text-transform: uppercase;
}

.has-js .label_radio,
.has-js .label_check {
    background: url("../images/buttons-sprite.png") no-repeat scroll -164px -267px transparent;
    display: block;
    float: left !important;
    line-height: 25px;
    min-height: 27px;
    cursor: pointer;
}
.has-js label.r_on,
.has-js label.c_on {
    background: url("../images/buttons-sprite.png") no-repeat scroll -164px -296px transparent;
}
.has-js .label_check input, .has-js .label_radio input {
    left: -9999px;
    position: absolute;
}
.has-js .label_check, .has-js .label_radio {
    margin-right: 30px;
    padding-left: 31px;
}

blockquote {
	border-color: #dedede;
}
.text-align-left {
	text-align: left !important;
}
.mask {
	background: #222222;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
}
#intro-loader {
	width: 86px;
	height: 86px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -43px 0 0 -43px;
	/* background: url("../img/intro-loader.gif"); */
	background: url(../images/e-loading-full-2.gif);
}
.badge {
	background: #FFA53A;
}

.list-group-item {
	background: #F7F7F7;
	border: 1px solid #FFF;
}

.section-content {
	padding: 0;
}
#team.section-content {
	padding-bottom: 0px !important;
	position: relative;
}
.bgdark {
	background: #F3F3F3;
}
.section-title div {
	font-size: 17px;
	letter-spacing: 1px;
}
.section-title div span {
	display: inline-block;
	color: #7C7C7C;
	text-transform: uppercase;
}
.section-title h1 {
	font-size: 80px;
	padding-bottom: 20px;
	background: url(../images/hor-dots.png) repeat-x 0 bottom transparent;
}

.section-title h1, .section-title h2, .section-title h3 {
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	display: inline-block;
	font-family: 'Quantico', sans-serif;
}

.section-title h1 i {
	font-style: normal;
	display: block;
}
.section-title .line {
	width: 90px;
	/* background: #dedede; */
	background: url(../images/hor-dots.png) repeat-x 0 0 transparent;
	height: 2px;
	margin: 5px 15px;
}
.section-title .line.big {
	width: 170px;
}
.section-title .lead {
	margin: 10px auto 30px;
	max-width: 830px;
}
#products .section-title .lead {
	margin-bottom: 0;
}
.section-title .lead strong {
	color: #fff;
	font-weight: 200;
	padding: 0 6px;
}

.start-button {
	background: url("../images/buttons-sprite.png") no-repeat scroll -164px -50px transparent;
    color: #FFFFFF;
    height: 50px;
    line-height: 40px;
    opacity: 0.5;
    text-align: center;
    display: block;
    width: 50px;
    z-index: 100;
    transition: all 0.9s ease;
}

.start-button:hover{
	opacity: 1;
}

.select-wrap {
    background: #e7e0d9;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    width: 110px;
    margin: 0 auto 5px;
}
.billing-select .select-wrap,
.shipping-select .select-wrap {
	width: 100%;
	background: #FFF;
	border: 1px solid #E8E8E8;
}
.billing-select .select-wrap select,
.shipping-select .select-wrap select {
	width: 110% !important;
	font-weight: normal;
	color: #777777;
}
.select-wrap.disabled-select {
	opacity: 0.3;
}
.select-wrap select {
    background: none repeat scroll 0 0 transparent;
    border: none !important;
    outline: none !important;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    padding: 4px 10px !important;
    width: 240px !important;
}
.select-wrap.form-select select {
	width: 110% !important;
	text-align: left !important;
}
.select-wrap select#qty {
	width: 80px !important;
}
.select-wrap select option {
    background: none repeat scroll 0 0 #e7e0d9;
    border: none !important;
    outline: none !important;
    padding: 0 10px;
}
.select-wrap i.fa {
	color: #000;
    position: absolute;
    right: 10px;
    top: 6px;
}

.product-options-bottom > .add-to-cart {
	margin-top: 20px;
}

.add-to-cart button {
	float: right;
}

.add-to-cart,
.checkout-options-wrap,
.aw-acp-btn-container {
    background: none repeat scroll 0 0 #1A1A1A;
    border-radius: 9px;
    margin: 0 auto;
    padding: 10px;
    width: 243px;
}

.checkout-options-wrap {
	width: auto;
	float: left;
}

.qty-wrap {
	float: left;
    margin-top: 6px;
}

/* Remove Dotted Firefox Outline */
:focus {outline:none !important;}
::-moz-focus-inner {border:0 !important;}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.img-center {
	margin-left: auto;
	margin-right: auto;
}
.element-line {
	margin-top: 70px;
}

.team-member .element-line {
	margin-bottom: 70px;
}

section#contact .element-line:last-child {
	padding-bottom: 70px;
	margin-top: 0px;
}

section#contact .container:last-child {
	padding-top: 40px;
}

section#contact {
	margin-bottom: -50px;
	height: auto !important;
}

.row.equal-height {
	 display: table;
	 height: 100%;
}
.row.equal-height .col-md-6 {
    display: table-cell;
    padding-bottom: 50px;
    position: relative;
    width: 50%;
    float: none;
    height: 100%;
}
.row.equal-height .col-md-6 .content {
	height: 100%;
	min-height: 100%;
	position: relative;
}
.row.equal-height .col-md-6 .content button {
	position: absolute;
	bottom: 0;
}
.panel-default > .panel-heading {
	background: none;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
	border: none;
}
#accordion .panel-body {
}
.tab-content .tab-pane {
}
.tab-content .tab-pane h3,
.tab-content .tab-pane h4 {
	margin: 20px 0 5px;
}
#login-form h2,
#email #form h5,
.tab-content .tab-pane h3,
.tab-content .tab-pane h4,
.nav-tabs li a {
	font-size: 16px !important;
	font-weight: 600;
	color: #000 !important;
	text-transform: uppercase;
}
.panel-group {
}
.panel-group .panel + .panel {
	margin: 0;
}
.panel-group{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	background: #FFF;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
}
.panel-group .panel-default {
	box-shadow: none !important;
	border-radius: 0px;
	border: 0px none;
	background: none;
}
.panel-group .panel-heading {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	padding: 0;
	text-transform: uppercase;
}
.panel-group .panel-heading .panel-title {
	font-weight: 600;
}
.panel-group .panel-heading a {
	display: block;
	padding: 15px 25px;
}
.panel-group .panel-heading a.collapsed {
	color: #222;
}
.panel-group .panel-body {
	padding: 0 20px 15px;
	max-height: 300px;
    overflow-y: auto;
}

.media {
	border-top: 1px solid #dedede;
	padding-top: 25px;
	margin-top: 20px;
}
.media:first-child {
	padding-top: 0;
	border-top: 0;
}
.media > .pull-left {
	margin-right: 25px;
}
.media .media-body .lead {
	margin: 0 0 10px 0;
}

.progress {
	height: 30px;
}
.progress .progress-bar {
	text-align: left;
}
.progress .progress-bar span {
	display: block;
	font-weight: bold;
	line-height: 30px;
	padding: 0 0 0 15px;
}

#header-start {
	background: #FFF;
	height: 75px;
}

#header-secondary {
	position: absolute;
	right: 0px;
	top: 20px;
}

.block-cart .block-content { 
	z-index: 9999999;
	display: none; 
	position: absolute; 
	top: 33px; 
	left: -30px; 
	width: 236px; 
	text-align: left;
	padding: 20px; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-top: 3px solid #FFA53A;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25); 
	background: #FFF; 
}
.block-cart .block-content:after {
	border-color: #FFA53A transparent;
    border-style: solid;
    border-width: 0 4px 4px;
    bottom: auto;
    top: -7px !important;
    content: "";
    display: block;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 0;
}
.block-cart:hover .block-content { display: block; }

.block-cart .block-title,
.block-cart .block-title > a {
	color: #000000;
    display: block;
    font-size: 14px;
    font-weight: 800;
    height: 36px;
    padding-top: 3px;
    text-transform: uppercase;
    width: 162px;
}

.account-drop {
	position: relative;
	padding-bottom: 10px;
}

.account-drop ul {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    border-top: 3px solid #FFA53A;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
    display: none;
    left: -30px;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 33px;
    width: 236px;
    z-index: 9999999;
}

.account-drop ul:after {
    border-color: #FFA53A transparent;
    border-style: solid;
    border-width: 0 4px 4px;
    bottom: auto;
    content: "";
    display: block;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: -7px !important;
    width: 0;
}

.account-drop ul li a {
	text-align: left;
	font-size: 13px;
	background: url("../images/hor-dots.png") repeat-x scroll 0 bottom transparent;
    padding: 10px 0;
}
.account-drop ul li a:hover {
	color: #FFA53A;
}
.account-drop ul li.first a {
	padding-top: 0px;
}
.account-drop ul li.last a {
	padding-bottom: 0px;
	background: none;
}

.account-drop:hover ul {
	display: block;
}

#search_mini_form {
	float: right;
	width: 200px;
}

#search_mini_form input#search {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E8E8E8;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 35px;
    color: #898989;
    width: 170px;
    text-indent: 10px;
}

button.search-submit {
    background: url("../images/buttons-sprite.png") no-repeat scroll -270px 0 transparent;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 23px;
    top: 5px;
    width: 25px;
    z-index: 9999999;
}

.customer-nav {
	float: right;
	padding: 3px 23px 0 30px;
}

.customer-nav a {
	padding: 3px 10px;
	display: block;
	text-transform: uppercase;
	color: #000;
	font-weight: 800;
	font-size: 14px;
}

.std .nav-tabs,
.nav-tabs {
	overflow: hidden;
	margin: 0 0 -3px;
	padding: 0;
	list-style: none;
	border: 0;
}
.nav-tabs > li > a:hover {
	background: #DED6CD;
	/* color: #FFF !important; */
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 0px none;
	font-size: 16px !important
}
.nav-tabs > li > a {
	font-size: 13px !important;
	padding: 12px 25px;
	display: block;
	text-transform: uppercase;
	color: #000;
	background: #E7E0D9;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	margin-right: 5px;
	border: 0px none;
	transition: all 0.3s ease;
}
.tab-content {
	padding: 30px;
	border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	background: #FFF;
	min-height: 352px;
}
.disqus-comments {
	padding: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
	background: #FFF;
}

/* ##### NAV BAR ##### */
.navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
}

#navigation-sticky-wrapper {
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
}
#navigation-sticky-wrapper is-sticky {
	position: fixed;
	top: 0;
}

.navbar-inner {
	background: none repeat scroll 0 0 #222;
	border-bottom: medium none !important;
	box-shadow: 0 !important;
	transition: all 0.3s ease-out 0s;
	z-index: 10;
}
.navbar-wrap-inset {
	margin: 0 auto;
    max-width: 1040px;
    position: relative;
}
.navbar-collapse {
	min-height: 48px !important;
}
.navbar-collapse.in {
	overflow-y: visible !important;
}

.navbar-inner .container {
	padding: 20px 0;
}
/*
.navbar {
	position: relative;
	border: 0;
}
*/
.navbar .nav > li {
	display: block;
	float: left;
}
.navbar .nav > li > a {
	color: #FFF;
	display: block;
	font-size: 16px;
	font-weight: 700;
	height: 100%;
	text-shadow: none;
	text-transform: uppercase;
	transition: all 0.3s ease-out 0s;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 48px;
	border-right: 1px solid #000;
	border-left: 1px solid #333;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	background: #000;
	box-shadow: none;
	color: #FFA53A;
	height: 100%;
	transition: all 0.3s ease-out 0s;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #fff;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #666;
	height: 100%;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}
.navbar-default {
	background: none;
    border-color: rgba(255, 255, 255, 0.25) !important;
}
.navbar-default .navbar-toggle {
	padding: 0;
	margin: 10px 15px 10px 0;
	border: 0;
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
}
.navbar-default .navbar-toggle i.fa {
	color: #FFF !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
	border: 0;
	outline: none;
}

.dropdown-menu {
	border-width: 0 0 1px 1px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.dropdown-menu > li > a {
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #222;
	background: none;
}

/* ##### HOME SECTION ##### */

.intro-video {
	background: url(	"../img/pattern.png");
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
}
.intro-video .text-slider, .intro-video .text-home {
	width: 90%;
	height: 100%;
	margin: 0 5%;
	display: table;
}
.intro-video .intro-item {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.video-section {
	background: #000 url('../img/video-bg.jpg') no-repeat top center;
}
#video-volume {
	bottom: 45px;
	left: 50%;
	margin: 0 0 0 -15px;
	position: absolute;
	z-index: 10;
	width: 30px;
	height: 30px;
	line-height: 26px;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fff;
	color: #FFFFFF;
	cursor: pointer;
}

.intro-pattern {
	background: #000 url("../img/intro-pattern.jpg") no-repeat center;
}
.intro-pattern .text-slider, .intro-pattern .text-home {
	width: 90%;
	height: 100%;
	margin: 0 5%;
	display: table;
}
.intro-pattern .intro-item {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.home-products-wrap {
	/* margin-top: 100px; */
	background: url(../images/tiles/products-home-rail.gif) repeat-x 0 bottom;
}

.home-products-wrap .caroufredsel_wrapper {
	margin-bottom: 0px !important;
}

ul.home-products {
	padding: 0px !important;
}

.home-products li {
	float: left;
	text-align: center;
	width: 300px;
	padding-bottom: 20px;
	list-style-type: none;
}

.product-shop {
	padding-top: 70px;
}

.home-products li .price,
.product-shop .price,
#product-options-wrapper .price,
.row-of-products-wrap .price {
	background: #FFA53A;
	padding: 2px 10px;
	border-radius: 5px;
	color: #FFF;
	position: relative;
}
.product-shop .price {
	font-size: 20px;
}

.home-products li .price:after,
#product-options-wrapper .price:after,
.product-shop .price:after,
.row-of-products-wrap .price:after {
    border-color: #FFA53A transparent;
    border-style: solid;
    border-width: 0 4px 4px;
    content: "";
    display: block;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: -4px;
    width: 0;
}

.home-products li a {
	text-align: center;
}

.home-products li a img,
.block-related a img {
	display: block;
	max-width: 300px;
	min-height: 300px;
	height: auto !important;
	margin: 0 auto -50px;
}

.home-products li a img {
	min-height: 300px;
	width: 100% !important;
}

.block-related a img {
	margin: 0 auto -30px;
}

span.product-shrt-desc {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 800;
	color: #8c8c8c;
	padding: 0 10%;
	line-height: 1.4;
	margin: 0 auto 10px;
	max-width: 330px;
}

.product-shop span.product-shrt-desc {
    margin: 0 auto 20px;
    max-width: 420px;
}

span.product-name {
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 5px;
	display: block;
	font-weight: 800;
}

#home {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
}
#home h1 {
	color: inherit;
	margin: 25px 0;
	color: #fff;
}
#home p.lead {
	margin: 45px 0 50px 0;
	color: #fff;
	font-size: 16px;
}
/* .section-title .lead */
lead {
	font-size: 16px !important;
}
.cms-home {
	background: #FCFCFB;
}
#home .section-title div span {
	color: #fff;
}
#home .section-title .line {
	background: #7C7C7C;
}

#about {
	background: url(../images/tiles/beige-grad-down.gif) repeat-x 0 0;
}

section .container,
.twitter-section .container {
	padding-top: 130px;
}

.twitter-section .container,
section#about .container {
	padding-bottom: 130px;
}

section#about .wrapper-bg,
#product-info-wrap .wrapper-bg {
	background: url(../images/bg/large-e-black-cut.gif) no-repeat right center fixed;
	width: 100%;
}

section.no-padding-top .container {
	padding-top: 0px;
}

#team .container,
#products .container {
	width: 100%;
	position: relative;
}

#fullscreen-slider {
	display: none;
}
#fullscreen-slider .pattern {
	background: url("../img/pattern.png") repeat;
	width: 100%;
	height: 100%;
}
#cycle-loader {
	height: 32px;
	left: 50%;
	margin: -8px 0 0 -8px;
	position: absolute;
	top: 50%;
	width: 32px;
	z-index: 999;
}
#slider_left {
	left: 50px;
}
#slider_right {
	right: 50px;
}
.fullscreen-slider-arrow {
	top: 50%;
	height: 60px;
	position: absolute;
	width: 32px;
	z-index: 9;
	margin-top: -30px;
	cursor: pointer;
}
.fullscreen-slider-arrow:hover {
	margin-top: -28px;
}
.fullscreen-slider-arrow img {
	max-width: 100%;
}
.slide-content {
	height: 100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.slide-content .text-center {
	vertical-align: middle;
	display: table-cell;
}
div.mc-image {
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#text-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: orange;
}

/* ##### PORTFOLIO ##### */
#filters {
	display: block;
	text-align: center;
	margin: 0 0 50px 0;
}
#filters a {
	margin: 10px 4px;
}
#filters a.active span {
	background: #222;
}

#portfolio-wrap {
	list-style: none;
	margin: 0 0 -50px;
	padding: 0;
	overflow: hidden;
	width: 100%;
}
#portfolio-wrap .portfolio-item {
	float: left;
	position: relative;
}
#portfolio-wrap .portfolio-item img {
	max-width: 100%;
}
#portfolio-wrap .portfolio-item a, #portfolio-wrap .portfolio-item a img {
	position: relative;
	overflow: hidden;
	display: block;
}
#portfolio-wrap .portfolio-item a .hover-items {
	position: absolute;
	background: url("../images/tiles/diag-black.png") repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}
#portfolio-wrap .portfolio-item a .hover-items span {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	height: 110px;
	margin: -55px 0 0 0;
	text-transform: uppercase;
}
#portfolio-wrap .portfolio-item a .hover-items span i {
	color: #fff;
}
#portfolio-wrap .portfolio-item a .hover-items span em.lead {
	margin: 10px 0 0 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	display: block;
}
#portfolio-wrap .portfolio-item a .hover-items span em {
	color: #7C7C7C;
	font-style: normal;
	font-size: 12px;
}
#ajaxpage {
	padding: 100px 0;
}
#ajaxpage .section-title {
	margin: 0;
}
#ajaxpage .section-title h1 {
	font-size: 60px;
}
#ajax-section {
	position: relative;
	background: #f8f8f8;
	text-align: left;
}
#ajax-section #loader {
	width: 100%;
	height: 20px;
	padding: 40px 0 0 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 47px;
	left: 0;
}
#ajax-section #loader.projectError {
	text-align: center;
	height: auto !important;
	background-position: top center;
}
#ajax-section #loader.projectError p {
	display: none;
	padding-top: 16px;
}
#ajax-section #loader {
	background: url("../img/loader.gif") center center no-repeat;
}
#ajax-section #loader.projectError p {
	color: #666 !important;
}
#ajax-content-outer {
	width: 100%;
	overflow: hidden;
	position: relative;
}
#ajax-content-inner {
	float: left;
	height: 0;
	opacity: 0;
	width: 100%;
}
#project-navigation {
	width: 100%;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 1;
}
#project-navigation ul {
	margin: 0;
	list-style: none;
	display: none;
	padding: 0;
}
#project-navigation ul li {
	display: inline;
	padding: 0 3px;
}
.project-media, .project-description {
	margin: 70px 0 0 0;
	overflow: hidden;
	display: block;
}
.project-description h4 {
	display: inline-block;
	text-transform: uppercase;
	padding: 0px 0px 10px;
	font-weight: 600;
	border-bottom: 1px solid #DEDEDE;
	margin-top: 0;
}
.project-description .project-details {
	margin-bottom: 50px;
}
.project-description .list-info {
	margin: 0 0 10px 0;
	padding: 13px;
	background: #eaeaea;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.project-description .list-info i {
	color: #222;
}
.project-description .list-info span {
	font-weight: 600;
	color: #222;
}
.project-description .list-info em {
	font-size: 12px;
}

/* ##### TEAM ##### */
#team .container {
	/* padding-bottom: 650px */
}
section#team {
	height: auto !important;
}
#team .team-element {
	position: relative;
	display: block;
	overflow: hidden;
}
#team .team-element:hover .team-inner {
	display: block;
}
#team .team-element .team-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: none;
	background: rgba(0,0,0,0.8);
}
#team .team-element .team-inner .team-detail {
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
}
#team .team-element .team-inner .team-detail .team-content {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
	color: #fff;
}
#team .team-element .team-inner .team-detail .team-content h3 {
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #666;
	text-transform: uppercase;
}
#team .team-element .team-inner .team-detail .team-content h3, #team .team-element .team-inner .team-detail .team-content a {
	color: #fff;
}
#team .team-element .team-inner .team-detail .team-content p {
	font-weight: 400;
	margin-bottom: 25px;
	font-size: 15px;
	line-height: 18px;
}
#team .team-element .team-inner .team-detail .team-content p, #team .team-element .team-inner .team-detail .team-content a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
#team .team-element .team-inner .team-detail .team-content a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#team .team-element .team-inner .team-detail .team-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#team .team-element .team-inner .team-detail .team-content ul li {
	display: inline;
	padding: 0 6px;
}

/* ##### PRICING ##### */
.pricing-5-col .pricing-box {
	width: 20%;
}
.pricing-box {
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
}
.pricing-box ul {
	margin: 0;
	padding: 0;
	border-left: solid 1px #eee;
	border-top: solid 1px #eee;
}
.pricing-box.last ul {
	border-right: 1px solid #EEE;
}
.pricing-box li {
	list-style: none;
	margin: 0;
	padding: 15px 0 15px 0;
	border-bottom: solid 1px #eee;
}
.pricing-box li h4 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.pricing-box li h1 {
	font-size: 45px;
	margin: 0;
	font-weight: 600;
}
.pricing-box li.title-row {
	padding: 15px 0 15px 0;
}
.pricing-box li.price-row {
	background: #f5f5f5;
	padding: 15px 0 15px 0;
}
.pricing-box li.price-row span {
	display: block;
	font-weight: 600;
}
.pricing-box li.btn-row {
	background: #f5f5f5;
}
.pricing-featured {
	z-index: 5;
	-webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-top: -25px;
}
.pricing-box .pricing-featured li.price-row h1 {
	color: #fff;
}

/* ##### TIMELINE ##### */
.timeline-content .timeline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: url("../images/tiles/vert-dots.png") repeat-y top center;
}
.timeline-content .timeline .timeline-item {
	clear: both;
	margin-bottom: 0;
	width: 50%;
	float: left;
}
.timeline-content .timeline .post-body:after {
    border-color: transparent rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 10px 0 10px 10px;
    right: -10px;
    top: 50%;
    margin-top: -10px;
    bottom: auto;
    left: auto;
    content: "";
    display: block;
    position: absolute;
    width: 0;
}
.timeline-content .timeline .timeline-item:nth-child(2n) .post-body:after {
    border-width: 10px 10px 10px 0;
    left: -10px;
    right: auto;
}
.tweetprofilelink a {
	color: #7C7C7C !important;
	display: block !important;
	border-radius: 2px;
}
.timeline-content .timeline .post {
	margin: 0 90px 0 0;
	position: relative;
	min-height: 100px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: none;
	border: 0;
	color: #FFF;
	padding: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.timeline-content .timeline .post-body {
	padding: 30px !important;
	text-transform: uppercase;
	font-weight: 600;
	text-align: left;
	position: relative;
	border-bottom: 0 none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.timeline-content .timeline .post-body .blog-title h1 {
	font-size: 21px;
}
.timeline-content .timeline .post-body .blog-title h1 a {
	color: #222;
	display: inline;
}
.timeline-content .timeline .post-body .blog-title, .timeline-content .timeline .post-body .post-text {
	margin: 20px;
}
.timeline-content .timeline .post-body a {
	display: inline;
	overflow: hidden;
	color: #FFA53A;
}
.timeline-content .timeline .post-title {
	margin-bottom: 12px;
	text-transform: uppercase;
}
.timeline-content .timeline .post-info {
	left: 100%;
	margin: -20px 11px 0 11px;
	position: absolute;
	top: 50%;
	width: 160px;
	z-index: 1000;
}
.timeline-content .timeline .post-info .info-date {
	font-size: 17px;
	color: #FFF;
}
.timeline-content .timeline .post-info .info-date small {
	display: block;
}
.timeline-content .timeline .post-info .box-inner {
	display: block;
	width: 113px;
	margin: 10px auto;
}
.timeline-content .timeline .post-info .box-inner img {
	border: 1px solid #e1e1e1;
	padding: 9px;
	background: #fff;
}
.timeline-content .timeline .post-arrow {
	background-image: url("../img/timeline-arrow-right.png");
	background-size: 11px 22px;
	height: 22px;
	left: 100%;
	margin-top: -11px;
	position: absolute;
	top: 50%;
	width: 11px;
}
.timeline-content .timeline .timeline-item:nth-child(2n) {
	float: right;
}
.timeline-content .timeline .timeline-item:nth-child(2n) .post {
	margin-left: 90px;
	margin-right: 0;
}
.timeline-content .timeline .timeline-item:nth-child(2n) .post-info {
	left: auto;
	right: 100%;
}
.timeline-content .timeline .timeline-item:nth-child(2n) .post-arrow {
	background-image: url("../img/timeline-arrow-left.png");
	left: auto;
	right: 100%;
}
.timeline-content .action {
	margin-top: 50px;
}

/* ##### PARALLAX AREA ##### */
.catalog-product-view .parallax {
	background-size: 100% auto;
}
.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax .social-link span {
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	display: block;
}
.parallax .social-link .lead {
	margin: 0;
}
.parallax .social-link .hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.15);
}
.parallax-overlay {
	background-color: rgba(0, 0, 0, 0.8);
}
.parallax-box a {
	background: #fff;
	padding: 30px 20px;
	display: block;
}
.parallax-box a:hover i, .parallax-box a:hover h4 {
	color: #fff;
}
.parallax-box a i {
	color: #a4a4a4;
}
.parallax-box a p {
	color: #8d8d8d;
}
.parallax-box h4 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 12px 0;
}
.parallax-box p {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
}

/* RADIAL PROGRESS BAR */
.circular-content {
	display: inline-block;
	height: auto;
	text-align: center;
}
.cart {
	position: relative;
	overflow: hidden;
	min-height: 388px;
}
.cart .hidden {
	display: none;
}
.easyPieChart {
	position: relative;
	text-align: center;
	margin: 0px auto;
}
.easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.circular-pie {
	width: 310px;
	height: 310px;
}
.circular-pie span {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	height: 210px;
	width: 210px;
	z-index: 10;
	line-height: 210px;
	border-radius: 100%;
	text-align: center;
	font-size: 68px;
	letter-spacing: -3px;
	color: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.circ_counter_desc {
	margin: 20px 0;
	font-size: 15px;
	text-align: center;
}
.circ_counter_desc .lead {
	color: #fff;
	font-size: 26px;
}

/* NUMBER COUNTER */
.number-counters {
	overflow: hidden;
}
.counters-item {
	overflow: hidden;
}
.number-counters strong {
	color: #FFFFFF;
	display: block;
	font-size: 60px;
	font-weight: 600;
	line-height: 60px;
}

.client-list a img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.client-list a:hover img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.service-items a, .service-items a h3 {
	color: #222;
}
.service-items h3 {
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 10px 0;
}
.call-number {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: rgba(255,255,255,0.2);
	margin: 20px 0px;
	line-height: 120px;
	font-weight: 600;
	color: #fff;
	display: block;
	font-size: 84px;
}
.call-number a {
	color: #fff;
}

/* ##### CONTACT ##### */
.form-group {
	position: relative;
}
.form-group label {
	text-transform: uppercase;
}
.form-group label.error {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	text-transform: none;
}
.form-group .form-control {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	border-color: #DEDEDE;
}
.form-group .form-control:focus {
	border-color: #afafaf;
}
.form-group .form-control.input-lg {
	font-size: 14px;
}
.form-group .form-control.error, .form-group .form-control.error:focus {
	border: 1px solid #DEDEDE;
}
.form-group textarea {
	height: 219px;
	resize: vertical;
}
.form-button {
	margin-top: 50px;
}
.form-respond .content-message {
	margin: 0 0 50px 0;
	padding: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #f5f5f5;
}
.form-respond .content-message i {
	color: #222;
}
.form-respond .content-message h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0px 0 0;
}
#map_canvas {
	width: 100%;
	height: 500px;
}
#map_canvas.map-bg-mobile{ background:url("../img/mobile-map-bg.jpg") no-repeat center;}

/* ##### FOOTER ##### */
.cms-index-index .footer { 
	padding: 0 160px 0 30px;
}
.footer {
	font-size: 12px;
	padding: 0 30px;
	text-align: center;
	background: #222222;
	position: relative;
	margin-top: 50px;
}
.footer {
  /* .push must be the same height as footer */
  height: 30px; 
}
.wrapper:after {
	height: 80px;
}
.footer #social-icons {
	background: url("../images/footer-lip.png") repeat scroll 0 0 transparent;
    height: 25px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    top: -25px;
    width: 168px;
    padding: 10px 20px 0;
}
.footer #social-icons a {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 1px;
	background: #000 url(../images/efectiv-logos.png) no-repeat -208px 1px;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.footer #social-icons a:hover {
	background-position: -208px -31px;
	background-color: #FFA53A;
}
.footer #social-icons a#twitter {
	background-position: -264px -1px;
}
.footer #social-icons a#twitter:hover {
	background-position: -264px -33px;
}
.footer #social-icons a#instagram {
	background-position: -315px -1px;
}
.footer #social-icons a#instagram:hover {
	background-position: -315px -33px;
}
.footer #social-icons a#facebook {
	background-position: -359px -1px;
}
.footer #social-icons a#facebook:hover {
	background-position: -359px -33px;
}
.footer-nav {
	float: left;
}

#back-top,
a.visit-next {
	position: fixed;
	bottom: 50px;
	right: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	background: url("../images/buttons-sprite.png") no-repeat scroll -216px -50px transparent;
	color: #fff;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 100;
	display: none;
	transition: all 0.9s ease;
}
a.visit-next {
    background-position: -163px -50px;
    bottom: 0;
    display: block;
    margin: 0 auto;
    position: relative;
    right: 0;
    filter: alpha(opacity=100);
	opacity: 1;
}
#back-top:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

/* ##### BLOG PAGE ##### */
.blog-content a {
	color: #222;
}
.blog-text {
	margin: 50px 0 40px 0;
}
.blog-comments {
	margin: 0 0 60px 0;
}
.blog-comments .comment-item .thumb {
	width: 80px;
	height: 80px;
}
.blog-comments .comment-item .thumb-small {
	width: 50px;
	height: 50px;
}
.comment-formular form {
	border-top: 1px solid #DEDEDE;
	margin-top: 20px;
	padding-top: 25px;
}
.comment-formular form .form-group textarea {
	height: 132px;
}
.pager {

}
.pager .puls > a, .pager .pagination li a {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.pager .puls {
	display: inline;
}
.pager .puls > a {
	color: #fff;
	border: 0;
	background: #222;
	padding: 5px 10px;
}
.pager .puls > a:hover {
	color: #fff;
}
.pager .pagination {
	margin: 0;
}
.pager .pagination li {
	display: inline-block;
}
.pager .pagination li a {
	background: #DEDEDE;
	margin: 0;
	border: 0;
	padding: 7px 10px;
	margin: 0;
	color: #6e6e6e;
}
.pager .pagination li a:hover {
	color: #fff;
}
.pager .pagination li.active a {
	background: #222;
	color: #fff;
}
.widget {
	margin-bottom: 50px;
}
.widget .form-group {
	margin: 0;
}
.widget .widget-title {
	margin: 0 0 20px 0;
}
.widget .widget-title h4 {
	font-weight: 600;
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}
.widget .widget-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget .widget-nav li.first {
	padding-top: 0;
}
.widget .widget-nav li {
	padding: 12px 0;
	border-bottom: 1px solid #DEDEDE;
}
.widget .widget-nav li a i {
	padding: 0 10px;
}
.widget .widget-nav li a small {
	display: block;
}
.widget .widget-tag {
	list-style: none;
	padding: 0;
	margin: 0 0 -5px 0;
	overflow: hidden;
	clear: both;
}
.widget .widget-tag li {
	float: left;
	margin: 0 5px 5px 0;
	font-size: 12px;
}
.widget .widget-tag li a {
	display: block;
	padding: 5px 10px;
	background: #222;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
}
.widget .post-box.first {
	margin: 0;
	padding: 0;
	border: 0;
}
.widget .post-box {
	overflow: hidden;
	border-top: 1px solid #DEDEDE;
	padding-top: 15px;
	margin-top: 15px;
}
.widget .post-box img {
	float: left;
	margin: 0 8px 0 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.widget .post-box h5 {
	margin: 8px 0 0 0;
	font-size: 13px;
	font-weight: bold;
}

/* ##### EFFECT ##### */
.rotate {
	display: inline-block;
	max-width: 100%;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}
.rotate:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.zoom img {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.zoom:hover img {
	transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */
	-moz-transform: scale(1.2); /* Firefox */
	-webkit-transform: scale(1.2); /* Safari and Chrome */
	-o-transform: scale(1.2); /* Opera */
}
.hi-icon {
	display: inline-block;
	cursor: pointer;
	margin: 15px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}
.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.hi-icon:before {
	speak: none;
	line-height: 105px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.hi-icon-effect-1 .hi-icon {
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2;
	transition: background 0.2s, color 0.2s;
}
.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}
.no-touch .hi-icon-effect-1 .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.item_top {
	top: -50px;
	padding-right: 0px;
	opacity: 0;
	position: relative;
}
.item_bottom {
	bottom: -50px;
	/* padding-left: 0px; */
	opacity: 0;
	position: relative;
}
.item_left {
	left: -80px;
	padding-right: 0px;
	opacity: 0;
	position: relative;
}
.timeline-item .item_left {
	left: 0;
	opacity: 1;
}
.item_right {
	right: -80px;
	padding-left: 0px;
	opacity: 0;
	position: relative;
}
.item_fade_in {
	opacity: 0;
	position: relative;
	padding-left: 0px;
	right: 0px;
}

/* ##### CUSTOM BUTTON ##### */
.mybutton a:hover, .mybutton button:hover, .mybutton a:focus
.mybutton button:focus {
	outline: none;
}
.mybutton.ultra a, .mybutton.ultra button {
	font-size: 20px;
	line-height: 60px;
}
.mybutton.ultra a span, .mybutton.ultra button span {
	padding: 0 30px;
}
.mybutton.big a, .mybutton.big button {
	font-size: 17px;
	line-height: 50px;
}
.mybutton.big a span, .mybutton.big button span {
	padding: 0 20px;
}
.mybutton.medium a, .mybutton.medium button {
	font-size: 14px;
	line-height: 40px;
}
.mybutton.medium a span, .mybutton.medium button span {
	padding: 0 15px;
}
.mybutton.small a, .mybutton.small button {
	font-size: 12px;
	line-height: 35px;
}
.mybutton.small a span, .mybutton.small button span {
	padding: 0 10px;
}
.mybutton {
	display: inline;
}
.mybutton a, .mybutton button {
	text-transform: uppercase;
	border: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	letter-spacing: 0;
}
.mybutton a span, .mybutton button span {
	color: #fff;
	text-align: center;
	position: relative;
	display: inline-block;
}

.mybutton2 a:hover, .mybutton2 button:hover, .mybutton2 a:focus
.mybutton2 button:focus {
	outline: none;
}
.mybutton2.ultra a, .mybutton2.ultra button {
	font-size: 20px;
	line-height: 60px;
}
.mybutton2.ultra a span, .mybutton2.ultra button span {
	padding: 0 30px;
}
.mybutton2.big a, .mybutton2.big button {
	font-size: 17px;
	line-height: 50px;
}
.mybutton2.big a span, .mybutton2.big button span {
	padding: 0 20px;
}
.mybutton2.medium a, .mybutton2.medium button {
	font-size: 14px;
	line-height: 40px;
}
.mybutton2.medium a span, .mybutton2.medium button span {
	padding: 0 15px;
}
.mybutton2.small a, .mybutton2.small button {
	font-size: 12px;
	line-height: 35px;
}
.mybutton2.small a span, .mybutton2.small button span {
	padding: 0 10px;
}
.mybutton2 {
	display:inline-block;
	position: relative;
	z-index: 1;
}
.mybutton2 a, .mybutton2 button {
	text-transform: uppercase;
	border: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	letter-spacing: 1px;
}

.mybutton2 a span, .mybutton2 button span {
	color: #fff;
	text-align: center;
	position: relative;
	display: inline-block;
}

.logo {
	background: url("../images/logo-bg.png") no-repeat scroll center bottom transparent;
    height: 78px;
    top: 27px;
    left: 0;
    position: absolute;
    width: 355px;
}

.large-arrow-btns {
	background: url(../images/buttons-sprite.png) no-repeat 0 -80px;
	width: 80px;
	height: 79px;
	display: block;
	position: absolute;
	top: 50%;
	left: 20px;
	cursor: pointer;
	z-index: 999;
}

#next-member,
#next-prod,
#next-slide {
	background: url(../images/buttons-sprite.png) no-repeat -80px -80px;
	left: auto;
	right: 20px;
}
#prev-slide {
	background: url(../images/buttons-sprite.png) no-repeat 0px 0px;
}
#next-slide {
	background: url(../images/buttons-sprite.png) no-repeat -80px 0px;
}
#slider-pagination {
	position: absolute;
	background: url(../images/home/slider-pag-bg.png) no-repeat center 0;
	bottom: 0px;
	width: 147px;
	height: 30px;
	margin-left: -73px;
	left: 50%;
	z-index: 9;
	padding-top: 7px;
}
#slider-pagination div {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	color: #000;
	cursor: pointer;
	background: #000;
	padding: 4px;
	margin: 0 5px;
}

#slider-pagination div span {
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
#slider-pagination div.selected span {
	background: #f7941e;
}
#home-banner-wrap a {
	display: block;
	width: 100%;
	height: 600px;
	float: left;
	position: relative;
	overflow: hidden;
}

#home-banner-wrap a .pattern-inset {
	background: url(../images/tiles/diag-black.png) repeat 0 0 fixed;
	display: block;
	width: 100%;
	height: 100%;
}

#home-banner-wrap a#slide-2 .pattern-inset {
	background: url(../images/tiles/diag-red.png) repeat 0 0 fixed;
}

#webform_3 input.input-text {
	background: #FFF !important;
	box-shadow: none !important;
}

#webform_3 .form-control {
	border: 1px solid #E8E8E8;
	box-shadow: none !important;
}

#email #form input.input-text {
	width: 100%;
	margin-bottom: 15px;
}

/*
.content-slide {
	display: block;
	position: absolute;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	top: 60%;
	left: 55%;
	line-height: 0.9;
	opacity: 0;
	padding-right: 5%;
	height: 250px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -125px 0 0 0;
	font-size: 85px;
	color: #FFF;
	transition: all 0.8s ease;
	font-size: 100%;
}

a#slide-2 .content-slide {
	height: 440px;
	margin: -120px 0 0;
}


a#slide-4 .content-slide {
	margin: -200px 0 0;
}

a#slide-3 .content-slide {
	margin: -165px 0 0;
}

a#slide-4 .content-slide {
    left: 10%;
    max-width: 43%;
}
*/

a#slide-1 {
	width: 100%;
	height: 100%;
	background: url("../images/home/EfectivLoaded-Banner-1400x10003.jpg") no-repeat center 0 #000;
	background-size: auto 100%; 
}

a#slide-2 {
	width: 100%;
	height: 100%;
	background: url("../images/home/Efectiv-BCAA-XTRA.jpg") no-repeat center center #FFF;
	background-size: auto 100%; 
}

a#slide-3 {
	width: 100%;
	height: 100%;
	background: url("../images/home/Efectiv-whey-limited-edition.jpg") no-repeat center 0 #FFF;
	background-size: auto 100%; 
}

a#slide-0 {
	width: 100%;
	height: 100%;
	background: url("../images/home/ProVit-ESN-com-Banner2.jpg") no-repeat center 0 #FFF;
	background-size: auto 100%; 
}

a#slide-4 {
	width: 100%;
	height: 100%;
	background: url("../images/home/ESN-Web-Casein.jpg") no-repeat center 0 #FFF;
	background-size: auto 100%; 
}

/*
a#slide-1 .content-slide,
a#slide-1 .view-more-from-slide {
	color: #000;
	text-shadow: none;
}

a#slide-1 .view-more-from-slide .small-arrow {
	background-position: -164px -237px;
}

a#slide-1 .content-slide {
	left: 50%;
}
a#slide-1 .view-more-from-slide {
	border-color: #9F9F9F;
}*/

.content-slide span {
	width: red;
	display: block;
	width: 100%;
}

.content-slide span.efectiv-font {
	font-family: 'Quantico', sans-serif;
}

.view-more-from-slide .small-arrow {
    background: url("../images/buttons-sprite.png") no-repeat scroll -165px -211px;
    display: block;
    float: right;
    height: 26px;
    margin-top: -4px;
    width: 26px;
}

a.selected .content-slide {
	opacity: 1;
	top: 50%;
}

.content-slide-products {
	display: block;
	position: absolute;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	top: 50%;
	width: 30%;
	left: -800px;
	height: 250px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -125px 0 0 0;
	font-size: 100%;
	color: #FFF;
	transition: all 0.8s ease;	
}

a.selected .content-slide-products {
	left: 8%;
}

.content-slide-products .aim {
	position: absolute;
	left: 20%;
	z-index: 9
}

.content-slide-products .creatine,
.content-slide-products .glutamine {
	position: absolute;
	left: 25%;
	top: 28px;
	transition: all 0.5s ease;
	transition-delay:1s;
	-moz-transition-delay:1s;
	-webkit-transition-delay:1s; /* Safari and Chrome */
}

.view-more-from-slide {
    border-bottom: 3px dotted #FFFFFF;
    border-top: 3px dotted #FFFFFF;
    color: #FFFFFF;
    margin-top: 4%;
    padding: 2% 0;
    opacity: 0.8;
}

a.selected .content-slide-products .creatine {
	position: absolute;
	left: 65%;
}

a.selected .content-slide-products .glutamine {
	position: absolute;
	left: 0px;
}

/*
a#slide-3 {
	background: url(../images/home/Effectiv-home-bg-1b.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg-1b.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg-1b.jpg', sizingMethod='scale')";
}

a#slide-2 {
	background: url(../images/home/Effectiv-home-bg-2d.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg-2d.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg-2d.jpg', sizingMethod='scale')";
}

a#slide-1 {
	background: url(../images/home/Effectiv-home-bg-3b.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg-3b.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg-3b.jpg', sizingMethod='scale')";
}
*/

/*
a#slide-1 {
	background: url(../images/home/Effectiv-home-bg2-1.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg2-1.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg2-1.jpg', sizingMethod='scale')";
}

a#slide-2 {
	background: url(../images/home/Effectiv-home-bg2-2.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg2-2.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg2-2.jpg', sizingMethod='scale')";
}
*/

/*
a#slide-3 {
	background: url(../images/home/efectivDesserts-live.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/efectivDesserts-live.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/efectivDesserts-live.jpg', sizingMethod='scale')";
}

a#slide-4 {
	background: url(../images/home/Effectiv-home-bg2-4.jpg) no-repeat center center scroll #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg2-4.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/Effectiv-home-bg2-4.jpg', sizingMethod='scale')";
}
*/

#home-banner-wrap {
	position: relative;
}
#home-banner-wrap a#slide-1 .pattern-inset {
	background: url(../images/tiles/diag-black-light.png) repeat 0 0 fixed;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#team .row {
	margin: 0px !important;
}

.team-member {
	position: relative;
}
#team .team-member {
	float: left;
}
#team .team-member img.member {
	position: relative;
	z-index: 10;
}

.team-member .splash {
	position: absolute;
	z-index: 0;
	bottom: -100px;
	left: 0;
}

#team .team-member h6 {
	color: #000000;
    display: block;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#team .section-title {
	margin-bottom: 40px;
}

#team .team-member p {
	color: #8C8C8C;
    display: block;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.4;
    margin: 0 auto 10px;
    max-width: 250px;
    text-align: center;
    padding: 0 10%;
    min-height: 33px;
    text-transform: uppercase;
}

#team-member-intro {
	z-index: 15;
	padding-top: 50px;
	position: relative;
}

#team-member-intro .col-md-7 {
	padding-top: 80px;
}

#arnold-allen.team-member .splash {
	left: auto;
	right: 0;
}

.twitter-section .parallax-overlay {
	background: url(../images/tiles/diag-black.png) repeat 0 0 fixed;
}

.twitter-section .section-title h1 {
	color: #FFF !important;
}

.twitter-section {
	border-top: 5px solid #FFA53A;
}

/*
body.catalog-category-view {
	background: #f2f2f2;
}
*/

body.catalog-category-view .category-title {
    margin-top: 120px;
    padding-top: 30px;
}

/* Product View */
.product-view {
	padding-top: 123px;
}
#product-info-wrap {
	background: url("../images/tiles/beige-grad-down.gif") repeat-x scroll 0 0 #fdfdfc;
}
#product-essential-wrap {
	background: url("../images/tiles/products-view-rail.gif") repeat-x scroll 0 bottom transparent;
}
.nutri-icon {
	width: 62px;
	height: 62px;
	display: inline-block;
	background: url(../images/efectiv-logos.png) no-repeat 0 0;
}
#vegetarian.nutri-icon {
	background-position: -62px 0;
}
#vegan.nutri-icon {
	background-position: -124px 0;
}
.row-of-products-wrap .item {
	float: left;
	text-align: center;
}
#slider_single_left {
	background-position: -164px -154px;
	height: 49px;
	width: 49px;
	left: 70px;
    position: absolute;
    top: 40%;
}
#slider_single_right {
	left: auto;
	background-position: -216px -154px;
	height: 49px;
	width: 49px;
	right: 70px;
    position: absolute;
    top: 40%;
}
.product-image-added {
	position: relative;
	float: left;
	margin: 0 10px -40px -22px;
}

ol#products-list li {
	padding-top: 20px;
}

ol#products-list li img {
	margin-bottom: -50px;
}

#product-related .container {
	padding-top: 40px;
}

.product-shop .start-button,
#team-member-intro .start-button {
	background: url("../images/buttons-sprite.png") no-repeat scroll -164px -235px transparent;
    color: #000000;
    display: block;
    font-weight: 800;
    height: 30px;
    line-height: 1.9;
    opacity: 0.5;
    padding-left: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.9s ease 0s;
    width: 130px;
    z-index: 100;
    margin: 40px auto;
}
.product-shop .start-button:hover,
#team-member-intro .start-button:hover {
	opacity: 1;
}

#team-member-intro .start-button {
	background-position: -164px -207px;
	color: #FFF;
	opacity: 1;
}

address {
	padding-top: 5px;
}


/* Checkout */
#checkout {

}
ul.check-options,
.checkout-method-wrap {
	max-width: 480px;
	margin: 0 auto;
}
ul.check-options.shipping-options,
ul.check-options.shipping-options li {
	max-width: 200px;
}
ul.check-options li {
	float: left;
	max-width: 240px;
}
#shopping-cart-table input.qty {
	text-indent: 0px;
	text-align: center;
}
#shopping-cart-table button {
	margin-right: 10px;
}
section#cart,
body.checkout-onepage-success,
body.customer-address-form,
body.customer-address-index,
body.cms-terms-and-conditions,
body.cms-help,
body.cms-efectiv-media,
body.cms-privacy,
body.sales-order-history,
body.customer-account-create,
body.customer-account-login,
body.customer-account-edit,
body.customer-account-create,
section#checkout{
	background: url("../images/tiles/beige-grad-down.gif") repeat-x scroll 0 123px #fdfdfc;
}
section#cart .container,
section#checkout .container,
body.customer-address-index .container,
body.customer-account-create .container,
body.cms-terms-and-conditions .container,
body.cms-help .container,
body.cms-efectiv-media .container,
body.cms-privacy .container,
body.sales-order-history .container,
body.customer-address-form .container,
body.customer-account-edit .container,
section#login .container,
section#register .container,
section#checkout-success .container {
	padding-top: 180px;
}
section#checkout-success .container {
	padding-bottom: 100px;
}
.account-create .form-list ul {
	width: 220px;
	margin: 0 auto;
}
.totals h5 {
	color: #FFF;
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.cart-collaterals {
	background: #1A1A1A;
	border-radius: 5px;
	padding: 15px !important;
	margin-top: 50px;
	text-align: left;
}
#shopping-cart-totals-table {
	width: 100%;
	background: #FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin-bottom: 20px;
}
#shopping-cart-totals-table tr td {
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 13px;
}
h2.order-num {
	text-transform: uppercase;
	font-weight: 800;
}
#shopping-cart-totals-table tr:first-child td {
	padding-top: 10px;
}
#shopping-cart-totals-table tfoot tr td {
	color: #000000;
	font-weight: 600;
	padding-bottom: 10px;
	font-size: 16px;
}
#shopping-cart-totals-table tr td.a-right:first-child {
	text-align: left !important;
}
.data-table tr.even {
	background: none !important;
}
#shopping-cart-table td, 
#my-orders-table td {
	vertical-align: middle;
	background: #FFF;
}
#shopping-cart-table tfoot td {
	background: none;
}
#shopping-cart-table td .product-image {
	padding: 10px 0 0 10px;
	display: block;
	margin-right: 20px;
}
#shopping-cart-table td.first,
#my-orders-table td:first-child {
	border-radius: 5px 0 0 5px;
}
#shopping-cart-table td.last,
#my-orders-table td.last {
	border-radius: 0 5px 5px 0;
}
#shopping-cart-table,
#my-orders-table {
	border-spacing: 0 10px;
	border-collapse: separate;
}
input#coupon_code {
	float: left;
	width: 180px;
}
.discount-form button {
	float: right;
}
#coupon-code {
	margin-bottom: 40px;
}
.checkout-types button,
.checkout-types button span span {
	width: 100%;
}
.discount-form button span span {
	padding: 0;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
}
border-spacing: 10px;
/* login */
body.customer-account-login {
	background: url(../images/bg/product-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/product-bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/product-bg.jpg', sizingMethod='scale')";
	padding-top: 80px;
}
#login-form .col-md-6 .content {
	padding: 30px;
	margin-bottom: 30px;
}

/* Help Page */
.cms-help #accordion,
.cms-privacy #accordion,
.cms-efectiv-media #accordion,
.cms-terms-and-conditions #accordion {
	text-align: left;
}
.cms-help #accordion .panel-heading a,
.cms-efectiv-media #accordion .panel-heading a,
.cms-privacy #accordion .panel-heading a,
.cms-terms-and-conditions #accordion .panel-heading a {
	border-bottom: 1px solid #f2f2f2;
}
.cms-help #accordion .panel-heading a:not(.collapsed),
.cms-efectiv-media #accordion .panel-heading a:not(.collapsed),
.cms-privacy #accordion .panel-heading a:not(.collapsed),
.cms-terms-and-conditions #accordion .panel-heading a:not(.collapsed) {
	background: #FBFBFB;
	border-bottom: 1px solid #FBFBFB;
}
.cms-help #accordion .panel-heading a span {
	padding-right: 20px;
	color: #9C9C9C;
	font-size: 14px;
}
.cms-help #accordion .panel-heading a:not(.collapsed) span {
	color: #FFA53A;
}
/*
.cms-help #accordion .panel-heading {
	border-bottom: 1px solid #f2f2f2;
}
*/
.cms-help #accordion .panel-body,
.cms-efectiv-media #accordion .panel-body,
.cms-privacy #accordion .panel-body,
.cms-terms-and-conditions .panel-body {
	background: #FBFBFB;
	padding: 0 30px 30px;
	max-height: none;
}

.snize-ac-results .snize-title {
    color: #030303 !important;
    text-decoration: none !important;
    text-transform: uppercase;
}

li.snize-ac-over-nodrop .snize-title {
	color: #FFA53A !important;
}

div.snize-ac-results li.snize-ac-over-nodrop {
    background-color: #f2f2f2 !important;
}

div.snize-ac-results li.snize-ac-over-nodrop span.snize-description,
div.snize-ac-results li.snize-ac-over-nodrop span.snize-price {
    color: #4B4B4B !important;
}

div.snize-ac-results li.snize-view-all-link span {
    color: #000000 !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

div.snize-ac-results li.snize-ac-over-nodrop {
	color: #000 !important;
}

#privacy-notice {
	font-size: 10px;
	line-height: 1.3;
}

#media .panel-group .panel-body {
	max-height: none;
}

.media-wrap a {
	width: 182px;
	height: 182px;
	background: url(../images/tiles/diag-black-light.png) repeat;
	overflow: hidden;
	margin: 5px;
	float: left;
	display: block;
	position: relative;
}
.file-ext {
    background: none repeat scroll 0 0 #FFA53A;
    text-shadow: 0 1px 1px #D36200;
    border-radius: 80px;
    bottom: 10px;
    color: #FFFFFF;
    display: block;
    line-height: 1.5;
    padding: 2px 15px 5px;
    position: absolute;
    right: 10px;
}
#media .nav-tabs > li > a {
	font-size: 12px !important;
    padding: 6px 14px;
}
#media .std .nav-tabs, 
#media .nav-tabs {
	margin: 0px !important;
}
#media .nav-tabs > li.active > a, 
#media .nav-tabs > li.active > a:hover, 
#media .nav-tabs > li.active > a:focus {
	font-size: 13px !important;
}
body[class*="cms-merchandise-"] {
	background-color: #eaeaea;
}
body[class*="cms-merchandise-"] .std {
	padding-top: 123px;
}

.issuuembed {
	width: 100% !important;
	height: 750px !important;
}

@media (max-width: 767px) {

	a#slide-0,
	a#slide-1,
	a#slide-2 {
		background-position: 0 center !important;
    	background-size: 100% auto !important;
    	background-attachment: scroll !important;
	}
	
}